@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.Error-404{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #FF6060;
    font-size: 288px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.Error-Oups{
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.Error-redirection{
    display: flex;
    justify-content: center;
    margin-top: 190px;
    color: #FF6060;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}