.about-main-page {
    margin-bottom: 150px;
    padding: 20px;
}
.about-collapse{
    width: 80%;
}
.about-collapse-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    
 }
.about-main-page .banner{
    background-image: url("../image/mornington.jpg");
}


@media screen and (max-width: 768px) {
    
    .about-collapse{
        width: 100%;
       }
}

@media screen and (min-width:768px)and (max-width:992px) {

    .about-collapse{
        width: 80%;
       }
}
