@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.tag-style{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #FF6060;
    color: white;
    height: 25px;
    padding: 1px 40px;
    border-radius: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.tag{
    display: flex;
    gap: 20px;
  
}
.accomodation-heading{
    display: flex;
    justify-content: space-between;
}

.accomodation-heading-title{
 
 margin-top:20px
}

.host-section{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.host-section-name{
    width: min-content;
    color: #FF6060;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.host-section-img{
    width: 70px;
    border-radius: 100px;
}

.accomodation-title{
    color: #FF6060;
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.accomodation-location{
    color: #FF6060;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-top: 10px;
}

.equipment-style{
    list-style-type:none;
}

ul{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.tag-star{
    display: flex;
    justify-content: space-between;
}

.star{
    margin-top: 30px;
}