.tag-style{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #FF6060;
    color: white;
    height: 40px;
    padding :5px;
    border-radius: 10px;
}
.tag{
    display: flex;
    gap: 20px;
  
}
.accomodation-heading{
    display: flex;
    justify-content: space-between;
}

.host-section{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.host-section-name{
    width: min-content;
}

.host-section-img{
    border-radius: 100px;
}