body{
}
.nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
}

.logo-img{

}
.navBar{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}
.navBar li {
    list-style-type: none;
}
.item{
    list-style-type: none;
    color: #FF6060;
}
.item a:hover {
    border-bottom: 3px solid #FF6060;
}
.item a:active{
    border-bottom: 3px solid #FF6060;
}

.link{
    text-decoration: none;
    color:  #FF6060;
}
