@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 20px 20px 0px 20px;
}

.all-flat{
    display: flex;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding:30px;
 
}
.singleflat-test{
    display: flex;
    background-color: blue;
}
.single-flat{
    background-color: white;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    text-decoration: none;
  
}

.single-flat-img{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    
  
}

.single-flat-title{
    position:relative;
    bottom :60px;
    left:16px;
    width: 340px;
    text-decoration: none;
    color: rgb(255, 255, 255); /*change to white later*/
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}