.carousel{
    height: 500px;
}
.img-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.img-containter-single{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.left-arrow {
    position:absolute;
    top:360px;
    left: 40px;
    font-size: 60px;
    color: white;
}
.right-arrow{
    position:absolute;
    top:360px;
    right:40px;
    font-size: 60px;
    color: white;
}


@media screen and (max-width: 768px) {

    .carousel{
        height: 250px;
        }
    .left-arrow {
        font-size: 30px;
        top:200px;
    }
    .right-arrow{
        top:200px;
        font-size: 30px;
    }
}