.img-container{
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.img-containter-single{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

.left-arrow {
    font-size: 60px;
    position:absolute;
    top:360px;
    left: 40px;
    color: white;
}

.right-arrow{
    font-size: 60px;
    position:absolute;
    top:360px;
    right:40px;
    color: white;
}