@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.all-collapse-section{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.collapse-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collapse-heading{
display: flex;
flex-direction: column;
 width: 100%;

}

.collapse-heading-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: white;
    background: #FF6060;
}

.collapse-content{
    display: flex;
    position: relative;
    z-index: -1;
    bottom:20px;
    width:100%;
    background: #F7F7F7;
    overflow: hidden;
    transition: all 600ms ease-in-out;
    opacity: 0;
    height: 0;
}

.collapse-content-container {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #FF6060;
    padding: 30px 10px 20px 10px;
    border-radius: 10px;
}

.show{
    height: 200px;
    opacity: 1;
    overflow: hidden;
    transition : all 600ms ease-in-out;
}

.testUp{
    color: blue;
}

.testDown{
    
}